@page

<h2>Login</h2>

<div>
    <label>Nome</label>
    <br />
    <input id="nome" />
</div>

<div>
    <label>Senha</label>
    <br />
    <input id="senha" type="password" />
</div>

<br />

<button onclick="login()">Entrar</button>

<br />
<br />

<button onclick="window.location.href='/Usuario'">
    Cadastrar Usuário
</button>

<p id="mensagem" style="color:red;"></p>

<script>

    async function login(){

        const nome = document.getElementById("nome").value;
        const senha = document.getElementById("senha").value;

        try{
            const data = await sendRequest("Login", "POST", {
                Nome: nome,
                Senha: senha
            });

            console.log(data);

            if(!data)
                throw new Error("Usuário ou senha inválidos");

            localStorage.setItem("token", data.token);

            window.location.href = "/";

        }
        catch(erro){
            document.getElementById("mensagem").innerText = erro.message;
        }
    }
</script>