MicroondasBenner/bin
MicroondasBenner/obj
/.vs/ProjetoBenner
/.vs/ProjectEvaluation
/MicroondasBennerAPI/.vs
/MicroondasBennerAPI/bin/Debug/net10.0
/MicroondasBennerAPI/obj
/MicroondasBennerCommom/bin/Debug/net10.0
/MicroondasBennerCommom/obj
/MicroondasBennerFrontend/bin/Debug/net10.0
/MicroondasBennerFrontend/obj
/MicroondasBennerAPI.Tests/bin/Debug/net10.0
/MicroondasBennerAPI.Tests/obj
/MicroondasBennerFrontend.Tests/bin/Debug/net10.0
/MicroondasBennerFrontend.Tests/obj
