@page
@model IndexModel
@{
    ViewData["Title"] = "Microondas Benner";
}

<h1 class="display-4">Microondas Benner</h1>

<form method="post">
    <label>Tempo em segundos:</label>
    <input asp-for="Tempo" type="number" min="1" max="120" />
    <br />
    <label>Potência:</label>
    <input asp-for="Potencia" type="number" min="1" max="10" />
    <br />
    <button type="submit" asp-page-handler="Iniciar">Iniciar</button>
    <button type="button" onclick="pausar()">Pausar/Cancelar</button>
</form>

<h3>@Model.Status</h3>
<p>@Model.Mensagem</p>

<script>
    let timer;
    function iniciar()
    {
        timer = setInterval(
        () => {
            fetch('/Index?handler=Atualizar') 
                .then(r => r.text())
                .then(status => document.querySelector('h3').innerText = status);
        }, 1000);
    }

    function pausar()
    {
        clearInterval(timer);
    }
</script>